{% extends 'base.html.twig' %}
{% block body %}


    <div class="text-center card shadow">
        <div class="card-header">
            <h1 class="h4 mb-0 text-muted text-center">
                Password generated !
            </h1>
        </div>
        <div class="card-body">
            <div class="alert alert-success " onclick="handleClick()" style="cursor: copy">
                <strong id="password">{{ password }}</strong>
            </div>

            <p class="mt-3">
                <a href="{{ path('app_home') }}" class="text-decoration-none">
                    << Retour à l'accueil
                </a>
            </p>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script>
        const handleClick = () => {
            const password = document.getElementById('password').innerText
            navigator.clipboard.writeText(password);
        }
    </script>
{% endblock %}